{% extends "base.html" %}

{% block content %}
    <h1><a href="{% url "index" %}">Home</a></h1>

    
    {% comment %} <br> {% endcomment %}

    <form method="get" action="{% url 'index' %}">
        <input type="text" name="query" placeholder="Search for Pokemon">
        <button type="submit">Search</button>
    </form>

    <br>

    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        {{ form_type.as_p }}
        <button type="submit">Filter Pokémon</button>
    </form>

    <br>

    <a href="{% url 'create_pokemon' %}">Create Pokemon</a>

    {% if mode == "search" %}
        <h2>Search Results for "{{ query }}"</h2>
    {% elif mode == "filter" %}
        <h2>Filtered Pokémon</h2>
    {% else %}
        <h2>All Pokémon</h2>
    {% endif %}

    <ul>
        {% for pokemon in pokemons %}
            <li><a href="{% url 'pokemon_detail' pokemon.id %}">{{ pokemon.name }}</a></li>
        {% empty %}
            <li>No Pokémon found.</li>
        {% endfor %}
    </ul>
    
    

{% endblock  %}