{% extends "base.html" %}

{% block content %}
    <h1><a href="{% url "index" %}">Home</a></h1>

    
    {% comment %} <br> {% endcomment %}

    <form method="get" action="{% url 'search' %}">
        <input type="text" name="query" placeholder="Search for Pokemon">
        <button type="submit">Search</button>
    </form>
    <br>

    <a href="{% url "create_pokemon" %}">Create Pokemon</a>

    
    {% comment %} <form method="get" action="{% url 'filter' %}">
        <input type="text" name="query" placeholder="Filter by type">
        <button type="submit">Filter</button>
    </form> {% endcomment %}

    {% if request.GET.query %}
    <h2>Search Results for "{{ request.GET.query }}"</h2>
    <ul>
        {% for pokemon in pokemon_search %}
            <li><a href="{% url 'pokemon_detail' pokemon.id %}">{{ pokemon.name }}</li>
        {% empty %}
            <li>No results found</li>
        {% endfor %}
    </ul>
{% else %}
    <h2>Index</h2>
    <ul>
        {% for pokemon in pokemons %}
            <li><a href="{% url 'pokemon_detail' pokemon.id %}">{{ pokemon.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
    
    

{% endblock  %}